/* font imported (https://fonts.google.com/) */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Matemasie&family=Oswald:wght@200..700&display=swap');

.matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    font-family: 'Matemasie', sans-serif;
    text-align: center;
    font-weight: 100;
    color: rgb(35, 148, 13);
    font-size: 1rem;
    margin: 0;
    background-color: antiquewhite;
    
}

/* board */
#div {
    width: 100%;
    height: 100%;
}

#board {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* header */
#header {
    color: red;
    font-size: 3.5rem;
    margin-bottom: 20px;

}
  
h1 {
    background-color: rgba(241, 207, 57, 0.5);
    width: 300px;
    margin: 0px auto;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 1px 1px 0 red;
  }


/* operator buttons (https://github.com/Code-Institute-Org/love-maths) & (https://chatgpt.com/) */
.controls-area {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.btn {
    width: 45px;
    height: 35px;
    border-radius: 50%; /* Make buttons round */

}

.btn.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1); /* Lighten the button to indicate it's active */
    transform: scale(1.05); /* Slightly enlarge the button */
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:focus,
.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:focus,
.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:focus,
.btn--red:active,
.btn--red:hover {
    background-color: rgb(166, 1, 1);
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:focus,
.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

/* question line */
.question-area {
    width: 100%;
    font-size: 2rem;
    margin: auto;
    padding: 5px 0;
    color:grey;
    text-shadow: 1px 1px 0 white;
    font-family: "Arial", sans-serif;
    font-weight: 700;
}

.question-area span {
    padding: 0 15px;
}

#equals {
    color:black;
    text-shadow: 1px 1px 0 grey;
}

/* Default operator style */
#operator {
    
    font-weight: bold;
}

/* Operator colors */
#operator.blue {
    color: blue;
}


#operator.orange {
    color: orange;
}

#operator.red {
    color: red;
}

#operator.green {
    color: green;
}

/* score */
.score-area {
    font-size: 1.5rem;
    text-shadow: 1px 1px 0 red;
}

/* Touch controls (https://chatgpt.com/) */
#touch-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 5px; /* Space between left/middle/right */
}

/* Vertical controls for Up and Down (https://chatgpt.com/) */
#vertical-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


#up-btn {
    width: 50px;
    height: 25px;
}


#left-btn {
    width: 25px;
    height: 50px;
}

#down-btn {
    width: 50px;
    height: 25px;
}

#right-btn {
    width: 25px;
    height: 50px;
}

/* media queries to be implemented */
@media screen and (min-width: 375px) {
    
}

@media screen and (min-width: 425px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    
}
